

body{
	background-color: #53bfe0;
	color: white;
	font-family: helvetica;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
}

#content{
	
}

.block{
	border: 10px solid white;
	border-radius: 10px;
	line-height: 2em;
	margin: 10px;
}
