
body{
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}

#banner {
	margin: 0px;
	height: 70px;
	width: 0px;
	border-top: 0px solid transparent;
	border-bottom: 100px solid transparent;
	border-right: 1280px solid #FFE928;
}

#header{
	position: absolute;
	left: 816px;
	top: 90px;
	font-size: 20px;
}

#content{
	height: 270px;
}

#footer{
	height: 0px;
	width: 0px;
	border-top: 50px solid transparent;
	border-bottom: 150px solid transparent;
	border-left: 1000px solid #FFE928;
}

#links{
	width:100%;
	padding-top: 3px;
	padding-right: 3px;
	text-align: right;
	color: grey;
	font-size: 13px;
	border-top: 2px solid grey;
}

#links>a{
	color: grey;
	font-size: 13px;
}

@keyframes dinasour
{
	0% {
		background-image: url('dinasour.svg'); 
		background-repeat: no-repeat;
		background-size: 500px 500px;
	}
	50% {
		background-image: url('dinasour2.svg');
		background-repeat: no-repeat;
		background-size: 500px 500px;}
	100% {
		background-image: url('dinasour.svg');
		background-repeat: no-repeat;
		background-size: 500px 500px;
	}
}


.animation{
	height: 600px;
	width: 600px;
	animation: dinasour 1s infinite;
	-webkit-animation: dinasour 1s infinite;
	position: absolute;
	top: 30px;
	left: 60px;
}

#property{
	text-align: center;
	margin-bottom: 5px;
}

