
@font-face{
	font-family: DJB;
	src: url('../../source/font/DJB Jenna.ttf');
}

@font-face{
	font-family: Bubble;
	src: url('../../source/font/MeltingRecords.ttf');
}

body{
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}

#banner {
	margin: 0px;
	height: 70px;
	width: 0px;
	border-top: 0px solid transparent;
	border-bottom: 100px solid transparent;
	border-right: 1280px solid #FFE928;
}

#header{
	font-family: DJB;
	font-size: 26px;
	position: absolute;
	left: 780px;
	top: 90px;
	letter-spacing: 2px;
}

#content{
	height: 270px;
}

#footer{
	height: 0px;
	width: 0px;
	border-top: 50px solid transparent;
	border-bottom: 150px solid transparent;
	border-left: 1000px solid #4EACFF;
}

#links{
	width:100%;
	padding-top: 3px;
	padding-right: 3px;
	text-align: right;
	color: grey;
	font-size: 13px;
	border-top: 2px solid grey;
}

#links>a{
	color: grey;
	font-size: 13px;
}

@keyframes dinasour
{
	0% {
		background-image: url('../../source/img/dinasour.svg'); 
		background-repeat: no-repeat;
		background-size: 500px 500px;
	}
	50% {
		background-image: url('../../source/img/dinasour2.svg');
		background-repeat: no-repeat;
		background-size: 500px 500px;}
	100% {
		background-image: url('../../source/img/dinasour.svg');
		background-repeat: no-repeat;
		background-size: 500px 500px;
	}
}


.animation{
	height: 600px;
	width: 600px;
	animation: dinasour 1s infinite;
	-webkit-animation: dinasour 1s infinite;
	position: absolute;
	top: 30px;
	left: 60px;
}

#property{
	text-align: center;
	margin-bottom: 5px;
}

@keyframes type{
	from{width: 0px;}
}

@keyframes blink{
	50%{border-color: transparent;}
}

.title{
	font: bold 200% Consolas, Monaco, monospace;
	border-right: .1em solid;
	width: 16.5em; /* fallback */
	width: 30ch; /* # of chars */
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 235px;
	left: 650px;
	border-right: 2px solid black;
	width: 14ch;
	overflow: hidden;
	animation: type 10s steps(14, end), 
	           blink .5s step-end infinite alternate;
}

a:hover{
	text-decoration: underline;
}